<!-- Nav Bar -->
<%= render partial: "nav" %>

<!-- Header --> 
<div id="header">
  <h1><strong>EchoBoard Hot 100</strong></h1>

  <!-- Sub Nav for Sorting list -->
  <dl class="sub-nav">
    <dd id="hotttnesss_nav" class="active"><a href="#">Popularity</a></dd>
    <dd id="discovery_nav"><a href="#">Emerging Artists</a></dd>
    <dd id="familiarity_nav"><a href="#">Household Names</a></dd>
  </dl>
</div>

<!-- Main list -->
<ul id="artist-list" class="small-block-grid-1 medium-block-grid-2 large-block-grid-4"></ul>

<!-- Template for rendering artist view -->
<script id='artistview-template' type='text/x-handlebars-template'>
  <div id="card">
    <div id="card_name" class="no_hov">
      <strong>{{ name }}</strong>
    </div>
    <div id={{echonest_id}} class="no_hov">
      <a href={{lastfm_url}} target="blank"><img src="images/fi-social-lastfm.svg" width="50px"></a>
    </div>
  </div>
</script>


