<!-- Nav Bar -->
<%= render partial: "nav" %>

<!-- Header --> 
<div class="header">
  <h1><strong>Still HUNTED</strong></h1>

  <!-- Sub Nav for Sorting list -->
  <dl class="sub-nav">
    <dt>Filter:</dt>
    <dd class="active" id="hotttnesss_nav"><a href="#">Hotttnesss</a></dd>
    <dd id="familiarity_nav"><a href="#">Familiarity</a></dd>
    <dd id="discovery_nav"><a href="#">Discovery</a></dd>
  </dl>
</div>

<!-- Main list -->
<ul id="artist-list" class="small-block-grid-1 medium-block-grid-2 large-block-grid-4"></ul>

<!-- Template for rendering artist view -->
<script id='artistview-template' type='text/x-handlebars-template'>
  <div id="card">
    <div id="card_name">
      <a href={{lastfm_url}} target="blank"><strong>{{ name }}</strong></a>
    </div>
    <div id={{echonest_id}}>
      <p>{{hotttnesss}}% | {{familiarity}}% | {{discovery}}%</p>
    </div>
  </div>
</script>


