<h1>Still Hunted</h1>
<h4>Top 100 Artists</h4>
<hr>

<dl class="sub-nav">
  <dt>Filter:</dt>
  <dd class="active" id="hotttnesss_nav"><a href="#">Hotttnesss</a></dd>
  <dd id="familiarity_nav"><a href="#">Familiarity</a></dd>
  <dd id="discovery_nav"><a href="#">Discovery</a></dd>
</dl>

<ul id="artist-list" class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
</ul>

<script id='artistview-template' type='text/x-handlebars-template'>
  <div>
    <p><strong>{{ name }}</strong><p>
    <p>{{ hotttnesss }}</p>
    <p>{{ familiarity }}</p>
    <p>{{ discovery }}</p>
  </div>
</script>

