<!-- Nav Bar -->
<%= render partial: "nav" %>

<!-- Header --> 
<div id="header">
  <h1><strong>Periodic Table of Echonest</strong></h1>
  <!-- Sub Nav for Sorting list -->
  <dl class="sub-nav">
    <dd id="hotttnesss_nav" class="active"><a href="#">Hottest Artists</a></dd>
    <dd id="discovery_nav"><a href="#">Rising Artists</a></dd>
    <dd id="familiarity_nav"><a href="#">Most Familiar Artists</a></dd>
    <dd id="score_nav"><a href="#">Overall Score</a></dd>
  </dl>
</div>

<!-- Main list -->
<ul id="artist-list" class="small-block-grid-1 medium-block-grid-2 large-block-grid-4"></ul>

<!-- Template for rendering artist view -->
<script id='artistview-template' type='text/x-handlebars-template'>
  <div id="rank">{{hotttnesss_rank}}</div>
  <div id="score">{{score}}</div>
  <div id="card">
    <div id="card_name" class="no_hov">{{ name }}</div>
    <div class="no_hov">
      <p><em>{{location}}</em></p>
      <a href={{official_url}} target="blank">Official Website</a></br>
      <a href={{lastfm_url}} target="blank"><img src="images/fi-social-lastfm.svg" width="30px"> LastFM</a>
    </div>
  </div>
</script>


