<!-- Nav Bar -->
<%= render partial: "nav" %>

<!-- Header --> 
<h1 class="header"><strong>Still HUNTED</strong></h1>

<!-- Sub Nav for Sorting list -->
<dl class="sub-nav">
  <dt>Filter:</dt>
  <dd class="active" id="hotttnesss_nav"><a href="#">Hotttnesss</a></dd>
  <dd id="familiarity_nav"><a href="#">Familiarity</a></dd>
  <dd id="discovery_nav"><a href="#">Discovery</a></dd>
</dl>

<!-- Main list -->
<ul id="artist-list" class="small-block-grid-2 medium-block-grid-3 large-block-grid-4"></ul>

<!-- Template for rendering artist view -->
<script id='artistview-template' type='text/x-handlebars-template'>
  <div id="card_name"><strong>{{ name }}</strong><div>
  <div id={{echonest_id}}>
    <p>Hello</p>
  </div>
</script>


