#header {
  text-align: center;
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  float: none;
  background: none;
}

#card_name {
  font-size: 1.5em;
  text-align: center;
  margin-top: 60px;
}

#artist-list li {
  height: 200px;
  border: 1px solid black;
  text-align: center;
}

#artist-list li a {
  color: black;
}

#artist-list li:not(.no_hov):hover {
  background-color: rgba(255,255,255,.8) !important;
}

.sub-nav dd {
  float: none;
}

body {
  background: url("/images/concert_1.jpg") no-repeat center center fixed;
  background-size: cover;
}