body {
  background: url("/images/concert_1.jpg") no-repeat center center fixed;
  background-size: cover;
}

#header {
  text-align: center;
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  float: none;
  background: none;
}

.sub-nav dd {
  float: none;
}
.sub-nav dd a {
  color: black;
  font-weight: bold;
}
.sub-nav dd.active a {
  background: black;
}

#artist-list li {
  height: 200px;
  border: 1px solid black;
  text-align: center;
}

#artist-list li a {
  color: black;
}

#artist-list li:not(.no_hov):hover {
  background-color: rgba(255,255,255,.8) !important;
}

#card_name {
  font-size: 1.25em;
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
}

#rank {
  position: absolute;
  font-weight: bold;
}

#score {
  position: relative;
  float: right;
  font-weight: bold;
}



